#admin_main.admin_page
	#header.clearfix
		nav
			a.action.secondary(href="/admin/logout") Deconnexion
		h1 Administration de Mémoires d'algérie

	section
		h2 Documents
		a.action(href="/admin/documents") Voir la liste des documents
		a.action(href="/admin/documents/add") Ajouter un document

	section
		h2 Contrôle
		a.action(href="/admin/tag/list") Voir la liste des tags

	section
		h2 Outils
		a.action(href="https://app.asana.com") Asana
		a.action(href="https://22mars.basecamphq.com/projects/9164517-webdoc-france-algerie/") Basecamp
