script(src='/js/jquery.js')
- if (typeof admin != "undefined")
	script(src='/js/admin.js')
	script(src='/js/list.min.js')
	script(src='/js/tiny_mce/tiny_mce.js')
- else
	script(src='/js/jPlayer/jquery.jplayer.min.js')
	script(src='/js/jPlayer/jplayer.playlist.min.js')
	script(src='/js/custom-form.js')
	script(src='http://maps.google.com/maps/api/js?sensor=false')
	script(src='/js/infobubble.js')
	script(src='/js/util.js')
	script(src='/js/jquery.history.js')
	script(src='/js/URI.js')
	//- Google Analytics
	script(type='text/javascript')
		var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-30098654-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
	script(src='/js/front.js')
	//- Facebook
	script(type='text/javascript')
		(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=394032280626738";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
	//- Twitter
	script(type='text/javascript')
		(!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"));
	//- Google +
	script(type='text/javascript')
		((function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})());	
