footer
	div.share
		span.title Partager
		ul
			li.fb
				div.fb-like(data-send="false", data-width="50", data-show-faces="false", data-layout="button_count")
			li.twitter
				a.twitter-share-button( href="https://twitter.com/share")
					Tweet
			li.googlePlus
				div.g-plusone(data-annotation="none")
		div.clear
		
	a.bt_credits.inline(title="Crédits", href="#credits") Crédits
	a.bt_suivezNous.inline(title="Suivez-nous", href="#suivezNous") Suivez-nous
	div.clear

div.popup
	include popup