header
	h1.logo
		a(href="/", title="Mémoire d'algérie") Mémoire d'algérie
	div.rightH
		div.partenaires
			a.owni(href="http://www.owni.fr", target="_blank", title="Owni")
				img(src="/images/logo_owni.png", alt="Owni")
			a(href="http://www.elwatan.com/", target="_blank")
				img(src="/images/logo_elwatan.png", alt="El Watan")
			div.clear

		div#jquery_jplayer_1.jp-jplayer

		div#jp_container_1.jp-audio
			div.jp-type-playlist
				div.jp-gui.jp-interface
					ul.jp-controls
						li
							a.jp-previous(href="javascript:;",tabindex="1", title="previous") previous
						li
							a.jp-play(href="javascript:;",tabindex="1", title="play") play
						li
							a.jp-pause(href="javascript:;",tabindex="1",style="display:none;",title="pause") pause
						li
							a.jp-next(href="javascript:;",tabindex="1") next
						li
							a.jp-mute(href="javascript:;",tabindex="1", title="mute") mute
						li
							a.jp-unmute(href="javascript:;",tabindex="1",title="unmute") unmute

					div.clear
					
					div.jp-volume-bar
						div.jp-volume-bar-value

				div.jp-playlist(style="display:none")
					ul
						li
		
		a.bt_comprendre.inline(href="#comprendre", title="Comprendre L'application") Comprendre L'application
		div.clear
		nav
			ul
				li
					a.bt_map(href="#", data-name="page-map", rel="map") Map
				li
					a.bt_timeline(href="#", data-name="page-timeline", rel="timeline") Timeline
			div.clear
		div.temoignez
			span 
				| Vous avez des documents
				br 
				| à nous faire parvenir ?
			a.bt_temoignez.inline(href="#temoignez", title="Témoignez") Témoignez
		div.clear
	div.clear