#user_edit
	form#edit_user(method="POST")
		margin 50px auto 10px auto
		width 500px
		label
			display inline-block
			font-weight bold
			line-height 40px
			margin-right 10px
			text-align right
			width 150px
		input
			width 150px
			&#admin
				margin 0
		#submit
			margin-left 162px