div#fb-root
div#wrapper
	include includes/header_front

	div#bloc_map.contentBloc
		include map

	include timeline
	
	div#bloc_timeline.contentBloc
		div#result.contentBloc
			include result
		
	div#single.contentBloc
		include single

	include includes/footer_front
	include includes/footer