section.blocMap
	div.choixEvenement
		span#enc.color_1
		a.question.inline(href="##{periods[0].key}", title="En savoir plus") En savoir plus
		h2.title_period #{periods[0].title}
		div.clear
		
	div#map_canvas