#tags_list
	.actions
		margin 0 auto
		padding 20px 0 40px 0
		text-align center
		width 70%

		label
			color #333
			font-size 13px
			text-transform uppercase
		input
			border 1px solid #ddd
			border-radius 5px
			line-height 20px
			margin 0 10px
			padding 4px 10px
			width 150px

	ul.list
		li
			display inline-block

#tag
	h1
		.tag
			color #aaa
			text-shadow 1px 1px 1px #333
	ul.tags
		list-style-type none