#admin_login
	.logo
		padding 20px 0
		text-align center

		a
			margin 5px 20px

	form
		line-height 40px
		margin 0 auto
		width 400px

		label
			display inline-block
			padding-right 10px
			text-align right
			width 140px
		input
			width 170px
		#login_buttons
			line-height 18px
			margin-left 135px
			text-align center
			#login_button
				margin-left 0
				width auto
			a
				display inline-block